#canvas-container {
  width: 100vw;
  height: 100vh;
  font-family: Futura, sans-serif;
}

#fire-canvas {
  position: absolute;
  z-index: 21;
  width: 100vw;
  height: 100vh;
}

#recursive-draw {
  position: absolute;
  z-index: 11;
  width: 100vw;
  height: 100vh;
}

#canvas {
  position: absolute;
  z-index: 5;
  width: 100vw;
  height: 100vh;
}

#piano-canvas {
  position: absolute;
  z-index: 4;
  width: 100vw;
  height: 100vh;
}

#guitar-canvas {
  position: absolute;
  z-index: 3;
  width: 100vw;
  height: 100vh;
}

#drums-canvas {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
}

#bg-canvas {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: black;
}

#text {
  opacity: 0;
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  z-index: 10;
  color: #fff;
  text-transform: uppercase;
  font-size: 8vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.controls-container {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 30px;
  color: #fff;
  z-index: 100;
}

.controls-container ul {
  margin-bottom: 20px;
  border: 1px solid white;
  padding: 20px;
}

.controls-container li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.controls-container li:first-child {
  margin-bottom: 20px;
}

.controls-container li span {
  margin-left: 50px;
}

.controls-container button {
  color: white;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 1px;
  border-color: white;
  font-family: inherit;
}